copaw-source/**/*
go.sum

*.exe
*.exe~
*.exe.old
*.exe.old~

*.db
ai_collaboration_guide.md
CONTEXT.md


.cursor/**/*
config.yaml
docs/api_spec.md
docs/architecture_spec.md
docs/feature_matrix.md
AGENTS.md
